<!--<nav>-->
  <!--<ul class="pl-5 pt-2 nav nav-tabs navbar-expand-lg">-->
    <!--<li class="ml-5 nav-item">-->
      <!--<a class="nav-link h5" href="{% url 'tp-landing-page' globus_portal_framework.index %}">About {{project_title}}</a>-->
    <!--</li>-->
    <!--<li class="nav-item">-->
      <!--<a class="nav-link h5" href="{% url 'tp-projects-page' globus_portal_framework.index %}">Projects</a>-->
    <!--</li>-->
    <!--<li class="nav-item">-->
      <!--<a class="nav-link h5" href="{% url 'tp-search' globus_portal_framework.index %}">Data</a>-->
    <!--</li>-->
  <!--</ul>-->
<!--</nav>-->