{% load is_active %}

<li class="nav-item mx-4 py-2">
  <a class="nav-link {% is_active request 'globus-tutorial:detail' index=globus_portal_framework.index index_uuid=index_uuid subject=subject %}" style="font-size: 24px" href="{% url 'globus-tutorial:detail' globus_portal_framework.index index_uuid subject %}">
    <i class="fas fa-info-circle" style="font-size: 32px"></i> Overview
  </a>
</li>
{% if globus_http_endpoint and globus_http_path and globus_http_scope %}
<li class="nav-item mx-4 py-2">
  <a class="nav-link {% is_active request 'globus-tutorial:detail-preview' index=globus_portal_framework.index index_uuid=index_uuid subject=subject %}" style="font-size: 24px" href="{% url 'globus-tutorial:detail-preview' globus_portal_framework.index index_uuid subject globus_http_endpoint globus_http_path %}?scope={{globus_http_scope}}">
    <i class="far fa-image" style="font-size: 32px"></i> Preview
  </a>
</li>
{% endif %}