{%extends "candle_pilot1/base.html"%}
{% load static %}

{%block headextras%}
<link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}" />
{% endblock %}


{% block body %}

<div class="row">
  <div class="col">
    <h2 class="text-center mt-3 mb-5">{{project_title}}</h2>
  </div>
</div>


<div class="row">
  <div class="col"></div>
  <div class="col-10">

    <div>
      <h1>About</h1>
      <p>
        Predictive models for cancer therapy can one day support the treatment choices
        a physician and patient make toward achieving the best possible clinical outcome.
        A team of collaborators from the DOE and NCI aims to accelerate this by using
        advanced computation to rapidly develop, test, and validate predictive pre-clinical
        models for precision oncology. They used observational data from experiments with
        cancer cell lines and animal models to do statistical analysis, deep learning,
        modeling, and simulation on Theta. This project has developed a suite of machine
        learning models for both single drugs and drug combinations, and became the first
        group to apply deep residual networks (DRN) to predict drug response both for single
        drugs and for multiple drugs.
      </p>
    </div>
    <div>
      <h1>Data Access</h1>
      <p>Search results are limited to members of the NCI Pilot Group.</p>
        <a class="btn btn-primary" target="_blank" href="https://app.globus.org/groups/d99b3400-33e7-11e9-8857-0af4690c7c7e/about">
          Request Access to NCI Pilot Group
        </a>
    </div>
  </div>
  <div class="col"></div>
</div>

{% endblock %}
