// From https://stackoverflow.com/questions/15405817/truncating-text-inside-a-div
.concierge-truncate-text {
    white-space: nowrap;      /*keep text on one line */
    overflow: hidden;         /*prevent text from being shown outside the border */
    text-overflow: ellipsis;  /*cut off text with an ellipsis*/
}