{% load index_template %}
<form action="{% block checkout_form_action_url %}{% url 'concierge-app:manifest-checkout' index %}{% endblock %}" method="post">
  <div class="form-group">
    <label for="name">Manifest Name</label>
    <input type="text" class="form-control" id="name" name="name" value="{{form.name.value}}" aria-describedby="manifestNameHelpBlock">
    <small id="manifestNameHelpBlock" class="form-text text-muted">
      A name to distinguish this manifest
    </small>
  </div>
  <input name="search_url" value="{{form.search_url.value}}" hidden>
  <input name="index" value="{{form.index.value}}" hidden>
  <input name="project" value="{{form.project.value}}" hidden>
  <input name="query" value="{{form.query.value}}" hidden>
  <input name="filters" value="{{form.filters.value}}" hidden>
  {% csrf_token %}
  {% block checkout_subject_selection %}
  <h5>Select Records</h5>
  <div class="accordion" id="accordion-main-checkout">
    <div class="form-group">
      <div class="form-check mb-4">
        <div class="input-group">
          <input class="form-check-input" type="checkbox" id="form-input-checkall" onclick="selectAllCheckboxes('subject-checkbox', this)" aria-describedby="publishHelpBlock" checked>
          <label class="form-check-label" style="min-width: 25%" for="form-input-checkall">Select All</label>
        </div>
      </div>
      {% for result in form.get_search_collector.process_search_data.search_results %}
      <div class="form-check my-1">
        <div class="input-group">
          <input class="form-check-input subject-checkbox" type="checkbox" name="subjects"
                 id="form-input-search-record-{{forloop.counter}}" value="{{result.subject}}"
                 aria-describedby="publishHelpBlock"
                 {% if not form.subjects.value or result.subject in form.subjects.value %} checked{% endif %}
          >
          <label class="form-check-label" style="min-width: 30%" for="form-input-search-record-{{forloop.counter}}">{{result.title|truncatechars:40}}</label>
          <div>
            <button type="button" class="btn btn-primary btn-sm ml-1 py-0" data-toggle="collapse" data-target="#collapse-search-record-{{forloop.counter}}" aria-expanded="true" aria-controls="collapse-search-record-{{forloop.counter}}">
              <i class="fas fa-info-circle"></i><span class="pl-2">Info</span>
            </button>
          </div>
        </div>
        <div id="collapse-search-record-{{forloop.counter}}" class="collapse" aria-labelledby="heading-search-record-{{forloop.counter}}" data-parent="#accordion-main-checkout">
          <div class="card-body">
            {% index_template 'concierge-app/components/checkout-search-result.html' as checkout_search_result %}
            {% include checkout_search_result %}
          </div>
        </div>
      </div>
      <hr class="my-0">
      {% empty %}
      {% block checkout_form_no_search_results %}
      <div class="alert alert-info" role="alert">
        <h5>No Search Results</h5>

        <p>
          No valid search results could be found.
        </p>

      </div>
      {% endblock %}
      {% endfor %}

    </div>
  </div>
  {% endblock %}

  {% block form_extras %}
  {% endblock %}
  <button type="submit" class="btn btn-primary">Create Manifest</button>
</form>