{%extends "global/tabbed-project/../../../../alcf_data_portal/templates/global/tabbed-project/base.html" %}
{% load static index_template %}

{% block body %}

<div class="row">
  <div class="col">
    <h2 class="text-center">Requesting Access To MDF</h2>
  </div>
</div>

<div class="row mb-5">
  <div class="col"></div>
  <div class="col-10">
    <div>
      <div class="card">
        <div class="card-body">
          <p>It looks like your account doesn't have access to submit publications
          to the MDF. You'll need to request access to a Globus Group in order to do
          so. Simply click the link below to request access.</p>
          <a href="https://app.globus.org/groups/cc192dca-3751-11e8-90c1-0a7c735d220a/about"
             target="_blank"
             class="btn btn-primary">Request Access to MDF Connect</a>

          <p>Once you get an email confirming you are in the group, you can begin submitting
          bags.</p>

          <a href="{% url 'concierge-app:bag-list' globus_portal_framework.index %}"
             class="btn btn-primary">< -- Bag to My Bags</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col"></div>
</div>

{% endblock %}
